<nav class="navbar navbar-default">
  <div class="container">
    <ul>
      <li><a [routerLink]="['/weather/today']" routerLinkActive="active-link">Today</a></li>
      <li><a [routerLink]="['/weather/10day']" routerLinkActive="active-link">10Day</a></li>
      <li><a [routerLink]="['/weather/hourly']" routerLinkActive="active-link">Hourly</a></li>
      <li><a [routerLink]="['/weather/history']" routerLinkActive="active-link">History</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="active-link">About</a></li>
    </ul>
  </div>
</nav>
