table.table{
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-bottom: 30px;
}
h4{
    color: #000;
}
h5{
    color: #333b5b;
}
table>thead>tr>th,table>tbody>tr>td{
    border-color: #ddd;
    text-align: center;
}
table>thead>tr>th{
    border: 1px solid #90ee90;
}
thead>tr{
    background: #90ee90;
}
td>span{
    font-weight: 700;
}
td>span:last-of-type{
    color: #808080;
}
div.center-block{
  position: relative;
  top:50%;
  color: #000;
  text-align: center;
  margin: 52px auto auto auto;
}